<h1>New Post</h1>

<%= form_with model: @post do |form| %>
    <%= f.label :title %>
    <%= f.text_field :title%>

    <%= f.label :content %>
    <%= f.text_area :content%>

    <%= f.submit%>
<% end %>